.info_service form{
    margin: 0 auto;
    border: 1px solid olive;
}
input, select, textarea{
    margin-top: 10px;
}
textarea{
    display: block;
}
@media (min-width:280px) and (max-width:590px){
    input, select, textarea{
        width: 80%;
        margin: 10px 10%;
    }
}
@media (min-width:590px) and (max-width:880px){
    input, select, textarea{
        width: 60%;
        margin: 10px 20%;
    }
}
@media (min-width:880px) and (max-width:1170px){
    input, select, textarea{
        width: 50%;
        margin: 10px 25%;
    }
}
@media (min-width:1170px) and (max-width:1460px){
    input, select, textarea{
        width: 40%;
        margin: 10px 30%;
    }
}
@media (min-width:1460px){
    input, select, textarea{
        width: 36%;
        margin: 10px 32%;
    }
}