.slider{
    margin-top: 50px;
    width: 100%;
    height: 340px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 25s infinite alternate;
}
.slider ul li{
    width: 100%;
    list-style: none;
    margin-right: 0;
}
.slider .slider_elem{
    width: 100%;
}
.slider_elem{
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    height: 340px;
}
.slider_elem1{
    background-image: url("https://media.istockphoto.com/photos/letter-a-3d-red-isolated-on-white-with-shadow-orthogonal-projection-picture-id688125274?k=6&m=688125274&s=612x612&w=0&h=296XCpIcGlHejCFB7rpCecq7xC3O0C1pgvnUl0Z8AKc=");
}
.slider_elem2{
    background-image: url("https://images.casashops.com/Square620NoGrow/22605/alfabet-letra-b-negro-a-17-x-an--16-x-p-1%2C5-cm.jpg");
}
.slider_elem3{
    background-image: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_1580,w_2819,x_0,y_142/f_auto,q_auto,w_1100/v1554738218/shape/mentalfloss/75622-istock-529083191_0.jpg");
}
.slider_elem4{
    background-image: url("https://images.casashops.com/Square620NoGrow/22607/alfabet-letra-d-negro-a-17-x-an--16-x-p-1%2C5-cm.jpg");
}
@keyframes cambio{
    0% { margin-left: 0; }
    24% { margin-left: 0; }
    26% { margin-left: -100%; }
    49% { margin-left: -100%; }
    51% { margin-left: -200%; }
    74% { margin-left: -200%; }
    76% { margin-left: -300%; }
    100% { margin-left: -300%; }
}