.cleaning .sub_service1{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2018/07/Housekeeping_distribuidora.jpg");    
}
.cleaning .sub_service2{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2014/02/463x445_destacado_limpieza_agroalimentaria_farmaceutica.jpg");    
}
.cleaning .sub_service3{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2014/03/463x445limpieza_industrial.jpg");    
}
.cleaning .sub_service4{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2014/02/463x445_destacado_limpieza_desinfeccion_hospitales.jpg");    
}
.cleaning .sub_service5{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2014/02/463x445_destacado_limpieza_radiological.jpg");    
}
.cleaning .sub_service6{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2014/02/463x445_destacado_higienecontrolambientall.jpg");    
}