.security .sub_service1{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2018/09/centro-control-seguridad-integral_distribuidora.jpg");    
}
.security .sub_service2{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2018/09/ciberseguridad_distribuidora.jpg");    
}
.security .sub_service3{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2018/09/infraestrcturas-criticas_distribudora-1.jpg");    
}
.security .sub_service4{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2018/09/aerovigilancia_distribuidora.jpg");    
}
.security .sub_service5{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2013/11/463x445vigilancia.jpg");    
}
.security .sub_service6{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2014/02/463x445Transporte_fondos.jpg");    
}
.security .sub_service{
    height: 445px;
}
.security .sub_service{
    background-repeat: no-repeat;
    background-size: 100%;
}
@media (min-width:1170px) and (max-width:1460px){
    .security .sub_service h2{
        font-size: 1em;
    }
}