/*.sub_service{position: relative;} In other services.css file*/
@media (max-width:280px){
    .sub_service div h2{
        font-size: 1em;
    }
}
@media (min-width:880px) and (max-width:1170px){
    .sub_service {
        width: 50%;
        float: left;
    }
    .sub_service div {
        height: 200px;
    }
    .service .sub_service{
        width: 49%;
        margin-right: 1%;
    }
}
@media (min-width:1170px) {
    .sub_service {
        width: 50%;
        float: left;
    }   
    .sub_service div {
        height: 200px;
    }
}