.welfare .sub_service1{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2018/09/servicios-sanitarios-empresa_distribuidora.jpg");    
}
.welfare .sub_service2{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2018/09/servicios-sociales-empleados_distribuidora.jpg");    
}
.welfare .sub_service3{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2016/08/463x445px.jpg");    
}
.welfare .sub_service4{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2013/11/463x445ayudadomicilio.jpg");    
}
.welfare .sub_service5{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2013/11/463x445intervencion_insercion.jpg");    
}
.welfare .sub_service6{
    background: url("https://s3-eu-west-1.amazonaws.com/eulen-grupo-web/es/wp-content/uploads/2014/03/463x445emergencias.jpg");    
}